#mainComponentDiv{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

#whiteDiv{
    background-color: white;
    color: black;
    border-right: none;
    margin: 0px;
}

#whiteDiv:hover{
    box-shadow: 3px 3px 5px black;
}

#whiteDiv h2{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#whiteDiv h3{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

#whiteDiv p {
    font-size: 8px;
    padding: 0px;
    margin: 0px;
}


#blackDiv{
    background-color: black;
    color: white;
    align-items: end;
    border-left: none;
    margin: 0px;
}

#blackDiv h2{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: white
}

#blackDiv h3{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    color: white;
}

#blackDiv p {
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    color: white
}

#blackDiv:hover{
    box-shadow: 3px 3px 5px grey;
}

.playerDiv{
    
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    
    
}